// Footer
footer {
  position: relative;
  overflow-wrap: break-word;
  color: $white;
  background: $blue;
  text-align: left;
  font: $normal 1.4rem/2.4rem $regular;
  padding: 20px 0px;
  @media (min-width: $breakpoint-laptop) {
    padding: 60px 0px;
    font: $normal 1.6rem/2.6rem $regular;
  }
  .logo {
    img.cruk, svg.cruk {
      max-height: 120px;
      margin-bottom: 20px;
    }
    img.manchester {
      max-height: 80px;
      margin-bottom: 20px;
      @media (min-width: $breakpoint-laptop) {
        margin: 0px auto;
      }
    }
  }
  h5 {
    color: $white;
    font: $semi 2.2rem/3.2rem $progress;
    margin-top: 20px;
    margin-bottom: 10px;
    @media (min-width: $breakpoint-tablet) {
      text-align: left;
      margin-top: 0;
    }
  }
  p, address {
    font: $normal 1.4rem/2.4rem $regular;
    @media (min-width: $breakpoint-laptop) {
      font: $normal 1.6rem/2.6rem $regular;
    }
  }
  address {
    margin-bottom: 20px;
  }
  a {
    color: $white;
    text-decoration-color: $white;
    &:hover {
      color: $white;
      text-decoration-color: $blue;
    }
  }
  ul.links {
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 20px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    li {
      list-style: none;
      padding-left: 1em; 
      &::before {
        content: "\2022"; /* Unicode character for bullet */
        color: $lightblue; /* Your desired color */
        display: inline-block;
        width: 1.2em; /* Adjust as needed */
        margin-left: -1em; /* Negative margin to overlap text */
      }
    }
  }
  ul.social {
    text-align: left;
    margin: 10px 0;
    @media (min-width: $breakpoint-tablet) {
      margin: 20px 0 0 0;
    }
    li {
      display: inline-block;
      margin: 0px 5px;
      a {
        svg {
          height: auto;
          width: 30px;
          @media (min-width: $breakpoint-tablet) {
            width: 48px;
          }
          path {
            transition: all ease .3s;
            fill: $white;
          }
        }
        &:hover {
          svg {
            path {
              transition: all ease .3s;
              fill: $pink;
            }
          }
        }
      }
      &:first-child {
        margin: 0 5px 0 0;
      }
    }
  }
  
  .copyright {
    margin: 40px 0 0 0;
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left;
    p {
      font: $normal 1.4rem/2.4rem $regular;
    }
  }
}