// Footer
footer {
  font: $normal 1.6rem/3.0rem $regular;
  position: relative;
  overflow-wrap: break-word;
  padding: 40px 0px;
  color: $white;
  background: $blue;
  text-align: left;
  .logo {
    img, svg {
      max-height: 140px;
      margin-bottom: 20px;
    }
  }
  h5 {
    color: $white;
    font: $bold 2.2rem/3.2rem $regular;
    @media (min-width: $breakpoint-tablet) {
      text-align: left; 
    }
    margin-bottom: 10px;
  }
  p, address {
    font: $normal 1.4rem/2.4rem $regular;
    @media (min-width: $breakpoint-laptop) {
      font: $normal 1.6rem/2.7rem $regular;
    }
  }
  address {
    margin-bottom: 20px;
  }
  a {
    color: $white;
    text-decoration-color: $white;
    &:hover {
      color: $white;
      text-decoration-color: $blue;
    }
  }
  ul {
    margin-bottom: 10px;
  }
  
  .copyright {
    margin: 40px 0 0 0;
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left;
    p {
      font: $normal 1.4rem/2.4rem $regular;
    }
  }
}