// ------------------------------------------------------------
// Animations
// ------------------------------------------------------------

@mixin fade() {
  opacity: 0;
  transition: opacity linear 1s;
}

@mixin drop() {
  opacity: 0;
  transform: translate3d(0,-60px,0);
  transition: opacity linear 1s, transform ease-in 1s;
}

@mixin rise() {
  opacity: 0;
  transform: translate3d(0,120px,0);
  transition: opacity linear 1s, transform ease-in 0.5s;
}

@mixin reset-fade() {
  opacity: 1;
}

@mixin reset() {
  opacity: 1;
  transform: translate3d(0,0,0);
}

@mixin delay-children($start: 1, $end: 30, $step: 0.15s) {
  @for $i from $start through $end {
    &:nth-child(#{$i}) {
      transition-delay: $step * ($i - $start);
    }
  }
}

header {
  .logo {
    @include fade();
  }
  &.visible {
    .logo {
      @include reset();
    }
  }
}

// General Animations
section.home.hero {
  @include fade();
  .next_section {
    @include fade();
  }
  &.visible {
    @include reset-fade();
    .next_section {
      @include reset-fade();
      transition-delay: 0.5s;
      animation: next ease-in-out 1.5s;
      animation-iteration-count: infinite;
      &:hover {
        animation-play-state: paused; 
      }
    }
  }
}

section.home_statement {
  h2 {
    @include fade();
  }
  span.line {
    height: 4px;
    width: 0; /* Start with width 0 */
    background: $black;
    position: absolute;
    left: 0; /* Start from the left */
    transition: width 1s ease-in-out; /* Smooth transition effect */
  }
  &.visible {
    h2 {
      @include reset();
      transition-delay: 0.5s;
    }
    span.line {
      width: 50%; 
    }
  }
}

section.home_video, section.home_recruitment {
  .video_background, .recruitment_background {
    @include fade();
  }
  .video_content .content, .recruitment_content .content {
    @include fade();
  }
  &.visible {
    .video_background, .recruitment_background {
      @include reset();
    }
    .video_content .content, .recruitment_content .content {
      @include reset-fade();
      transition-delay: 0.5s;
    }
  }
}

section.home_stats {
  .stat {
    @include rise();
  }
  &.visible {
    .stat {
      @include reset();
      @include delay-children();
      .circle {
        transition: transform 0.3s ease; 
        &:hover {
          transform: scale(1.1);
        }
      }
      
    }
  }
}

section.home_research, section.news_archive {
  h2 {
    @include fade();
  }
  span.line {
    height: 4px;
    width: 0; /* Start with width 0 */
    background: $black;
    position: absolute;
    left: 0; /* Start from the left */
    transition: width 1s ease-in-out; /* Smooth transition effect */
  }
  .programmes article {
    @include fade();
  }
  &.visible {
    h2 {
      @include reset();
      transition-delay: 0.5s;
    }
    span.line {
      width: 50%; 
    }
    .programmes article {
      @include reset();
      @include delay-children();
      .circle {
        transition: transform 0.3s ease; 
        &:hover {
          // transform: scale(1.1);
        }
      }
    }
  }
}

section.publication_archive {
  span.line {
    height: 4px;
    width: 0; /* Start with width 0 */
    background: $black;
    position: absolute;
    left: 0; /* Start from the left */
    transition: width 1s ease-in-out; /* Smooth transition effect */
  }
  &.visible {
    span.line {
      width: 50%; 
    }
  }
}

section.research-team {
  h2 {
    @include fade();
  }
  span.line {
    height: 4px;
    width: 0; /* Start with width 0 */
    background: $black;
    position: absolute;
    left: 0; /* Start from the left */
    transition: width 1s ease-in-out; /* Smooth transition effect */
  }
  .team-thumbnail {
    @include fade();
  }
  &.visible {
    h2 {
      @include reset();
      transition-delay: 0.5s;
    }
    span.line {
      width: 50%; 
    }
    .team-thumbnail {
      @include reset();
      @include delay-children();
    }
  }
}

.pink-circle, .blue-circle {
  @include rise();
  &.visible {
    @include reset();
  }
}

@keyframes fadeInAndDrop {
  0% { opacity: 0; transform: translate3d(0,-60%,0); }
  50% { opacity: 0; transform: translate3d(0,-60%,0); }
  100% { opacity: 1; transform: translate3d(0,-50%,0); }
}

@keyframes next {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 35px;
  }
  100% {
    bottom: 20px;
  }
}

@keyframes bgZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes opacity {
	to {
		opacity: 1;
	}
}