/* Buttons 
    
<a href="#" class="button primary">Get a quote</a>
<a href="#" class="button secondary">Get a quote</a>

*/

.button {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 20px 15px 20px;
  margin: 5px 10px 5px 0;
  font: $medium 1.4rem/1.4rem $progress;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  letter-spacing: 0.1rem;
  &.primary {
    @include border-radius(5px);
    color: $black;
    border: 2px solid $black;
    background: transparent;
    &:hover {
      color: $white;
      background: $black;
      text-decoration: none;
    }
  }
  
  &.filled {
    @include border-radius(5px);
    color: $white;
    border: 2px solid $blue;
    background: $blue;
    &:hover {
      color: $blue;
      border: 2px solid $blue;
      background: transparent;
    }
    &.white {
      color: $blue;
      border: 2px solid $white;
      background: $white;
      &:hover {
        background: $white;
      }
    }
    &.black {
      @include border-radius(5px);
      color: $white;
      background: $black;
      text-decoration: none;
      &:hover {
        
        color: $black;
        border: 2px solid $black;
        background: transparent;
      }
    }
  }
}