@font-face {
    font-family: 'Progress';
    src: url('../fonts/Progress-Light.otf') format('opentype'),
         url('../fonts/Progress-Light.ttf') format('truetype'),
         url('../fonts/Progress-Light.woff2') format('woff2'),
         url('../fonts/Progress-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Progress';
    src: url('../fonts/Progress-Medium.otf') format('opentype'),
         url('../fonts/Progress-Medium.ttf') format('truetype'),
         url('../fonts/Progress-Medium.woff2') format('woff2'),
         url('../fonts/Progress-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Progress';
    src: url('../fonts/Progress-Regular.otf') format('opentype'),
         url('../fonts/Progress-Regular.ttf') format('truetype'),
         url('../fonts/Progress-Regular.woff2') format('woff2'),
         url('../fonts/Progress-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Progress';
    src: url('../fonts/Progress-SemiBold.otf') format('opentype'),
         url('../fonts/Progress-SemiBold.ttf') format('truetype'),
         url('../fonts/Progress-SemiBold.woff2') format('woff2'),
         url('../fonts/Progress-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
