////// Home //////

// Hero
section.hero.home {
  height: 99vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  .background {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
  .next_section {
    padding: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
    svg {
      path {
        fill: $white;
      }
    }
  }
}

// Circles
.pink-circle, .blue-circle {
  @include border-radius(50%);
  height: 400px;
  width: 400px;
  position: absolute;
  right: 0;
  top: -210px;
  text-align: center;
  
  .text {
    @include center-align();
    font: $xbold 3.2rem/4.2rem $regular;
    @media (min-width: $breakpoint-tablet) {
      font: $xbold 4.2rem/4.8rem $regular;
    }
    @media (min-width: $breakpoint-laptop) {
      font: $xbold 5.8rem/6.6rem $regular;
    }
    color: $white;
  }
}
.pink-circle {
  background: $pink;
}
.blue-circle {
  background: $lightblue;
}

// Home Statement
section.home_statement {
  background: $bluebg;
  padding: $padding 0;
  .container {
    margin-top: $padding;
  }
  span.line {
    height: 4px;
    // width: 50%;
    background: $black;
    position: absolute;
  }
  h2 {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: $black;
    font: $xbold 3.2rem/4.2rem $regular;
    @media (min-width: $breakpoint-tablet) {
      font: $xbold 3.2rem/3.8rem $regular;
    }
    @media (min-width: $breakpoint-laptop) {
      font: $xbold 4.8rem/5.6rem $regular;
    }
  }
}

// Square Section
.home_news, .home_video {
  background: $blue;
  margin: 0px auto;
  .container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }
  }
  .news_background, .video_background {
    background-size: cover;
    content: "";
    height: auto;
    min-height: 240px;
    width: 100%;
    @media (max-width: $breakpoint-tablet) {
      order: 2;
    }
    @media (min-width: $breakpoint-tablet) {
      width: 50%;
      min-height: 560px;
    }
  }
  .news_content, .video_content {
    box-sizing: border-box;
    height: auto;
    background: $blue;
    width: 100%;
    @media (max-width: $breakpoint-tablet) {
      order: 1;
    }
    @media (min-width: $breakpoint-tablet) {
      position: relative;
      width: 50%;
    }
    text-align: left;
    
    .content {
      padding: 30px;
      @media (min-width: $breakpoint-tablet) {
        @include vertical-align;
        padding: 40px;
      }
      @media (min-width: $breakpoint-desktop) {
        padding: 60px;
      }
      h3 {
        font: $bold 2.0rem/3.0rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $xbold 2.4rem/3.2rem $regular;
        }
        @media (min-width: $breakpoint-laptop) {
          font: $xbold 2.8rem/3.6rem $regular;
        }
        @media (min-width: $breakpoint-desktop) {
          font: $xbold 3.4rem/4.0rem $regular;
        }
        margin-bottom: 20px;
        color: $white;
      }
      p {
        color: $white;
        font: $normal 1.4rem/2.4rem $regular;
        margin-bottom: 20px;
        @media (min-width: $breakpoint-laptop) {
          font: $normal 1.6rem/2.6rem $regular;
          
        }
        @media (min-width: $breakpoint-desktop) {
          font: $normal 1.7rem/3.0rem $regular;
        }
      }
    }
  }
}

// Home Research
section.home_research {
  background: $bluebg;
  padding: $padding 0;
  .container {
    margin-top: $padding;
  }
  span.line {
    height: 4px;
    // width: 50%;
    background: $black;
    position: absolute;
  }
  h2 {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: $black;
    font: $xbold 3.2rem/4.2rem $regular;
    @media (min-width: $breakpoint-tablet) {
      font: $xbold 3.2rem/3.8rem $regular;
    }
    @media (min-width: $breakpoint-laptop) {
      font: $xbold 4.8rem/5.6rem $regular;
    }
  }
}