// News

section.archive {
  padding: 20px 0px;
  @media (min-width: $breakpoint-tablet) {
    padding: 40px 0px;
  }
  article {
    margin-bottom: $padding-half;
    &:nth-child(3n+4) {
      margin-left: 0;
      clear: left;
    }
    .image {
      overflow: hidden;
      margin-bottom: 20px;
      img {
        transition: transform .5s;
        transform: scale(1);
      }
    }
    &:hover {
      .image {
        img {
          transition: transform .5s;
          transform: scale(1.05);
        }
      }
    }
    .content {
      h3 {
        margin-bottom: 10px;
      }
    }
  }  
}

section.resources {
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  article.resource {
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid $border;
    @include border-radius(10px);
    border-top: 10px solid $blue;
    font: $normal 1.6rem/2.6rem $regular;
    margin-bottom: 20px;
    &:nth-child(4n+5) {
      margin-left: 0;
      clear: left;
    }
    ul {
      margin: 5px 0;
      list-style: none;
      font: $normal 1.6rem/2.6rem $regular;
      text-indent: -25px; /* key property */
      margin-left: 25px; /* key property */
      li {
        margin: 0;
        list-style: none;
        a {
          padding-left: 25px;
          
        }
      }
    }
    &.link {
      ul {
        li {
          a {
            background: url('../img/link_icon.svg') center left no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.audio {
      ul {
        li {
          a {
            background: url('../img/audio_icon.svg') center left no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.video {
      ul {
        li {
          a {
            background: url('../img/video_icon.svg') center left no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.document {
      ul {
        li {
          a {
            background: url('../img/document_icon.svg') center left no-repeat;
            background-size: contain;
          }
        }
      }
      
    }
    &.image {
      ul {
        li {
          a {
            background: url('../img/image_icon.svg') center left no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}