// Research

// Hero
section.hero.research {
  height: 240px;
  @media (min-width: $breakpoint-tablet) {
    height: 460px;
  }
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  .background {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
  .container {
    position: absolute;
    bottom: 40px;
    left: 5%;
    .circle {
      @include border-radius(50%);
      width: 180px; /* Adjust the width to your desired size */
      height: 180px; /* Set height to 0 to allow padding-bottom trick */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; /* Centers the text horizontally */
      position: relative;
      background: $white;
      float: left;
      svg {
        width: 180px; /* Adjust the width to your desired size */
        height: 180px; /* Set height to 0 to allow padding-bottom trick */
      }
    }
  }
}

section.research_title {
  padding: $padding-half 0;
  background: $pink;
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  h1 {
    color: $white;
    padding: 35px 0;
    margin-left: 160px;
    margin-bottom: 0;
  }
  .circle {
    @include border-radius(50%);
    width: 120px; /* Adjust the width to your desired size */
    height: 120px; /* Set height to 0 to allow padding-bottom trick */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centers the text horizontally */
    position: relative;
    background: $white;
    cursor: pointer;
    float: left;
    svg {
      width: 120px; /* Adjust the width to your desired size */
      height: 120px; /* Set height to 0 to allow padding-bottom trick */
    }
  }
}

section.post.research {
  background: #f9f7f7;
  padding: 40px 0;
  aside {
    .research-buttons {
      margin: 20px 0 0 0;
    }
    .team-lead {
      box-sizing: border-box;
      h3 {
        margin-bottom: 20px;
        padding-bottom: 10px;
        width: 100%;
      }
      .team-lead-thumbnail {
        img {
          @include border-radius(50%);
          margin: 0px auto 20px auto;
        }
        h4 {
          text-align: center;
          margin-bottom: 5px;
          font: $medium 2.0rem/2.4rem $progress;
          color: $blue;
        }
        p {
          text-align: center;
          font: $medium 1.6rem/2.4rem $progress;
        }
      }
      

      
    }
  }
}

section.research-team {
  background: $bluebg;
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  .container {
    margin-top: $padding-half;
    @media (min-width: $breakpoint-tablet) {
      margin-top: $padding;
    }
  }
  span.line {
    height: 4px;
    // width: 50%;
    background: $black;
    position: absolute;
  }
  h2 {
    color: $black;
    font: $semi 2.8rem/3.8rem $progress;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      font: $semi 3.6rem/4.0rem $progress;
      margin-bottom: 60px;
    }
  }
  .team {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    .team_heading {
      width: 100%;
      clear: both;
      display: block;
      margin-bottom: 40px; /* Add margin to separate from the thumbnails */
    }
    .team-thumbnail {
      text-align: center;
      margin-bottom: 40px;
      width: 50%;
      @media (min-width: $breakpoint-mobile) {
        width: 40%;
        padding: 0px 20px;
      }
      @media (min-width: $breakpoint-tablet) {
        width: 30%;
        padding: 0px 20px;
      }
      @media (min-width: $breakpoint-laptop) {
        width: 20%;
        padding: 0px 20px;
      }
      @media (min-width: $breakpoint-desktop) {
        width: 14%;
        padding: 0px 20px;
      }
      img {
        margin: 0 auto 10px auto;
        @include border-radius(50%);
        &.default {
          background: $white;
        }
      }
      h4 {
        margin-bottom: 5px;
        font: $medium 1.8rem/2.4rem $progress;
        color: $blue;
      }
      p {
        font: $medium 1.6rem/2.4rem $progress;
      }
    }
  }
}